<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {{!-- added the link below to use the icons for materialize if not needed later this reference cane be removed --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {{!-- jquery cdn --}}


    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="./styles/styles.css">

    <title>Upstyle</title>
</head>


<body>
    <nav class="white">
        <div class="container">
            <div class="row">
                <div class="col s12 m3">
                    <a href="/"><img src="./images/logo.svg" class="logo-img"></a>

                </div>
                <div class="col s12 m9">
                    <div class="right">
                        <ul>
                            {{#if user}}
                            <li><a href="/setting" class="black-text">Setting</a></li>
                            <li><a href="/logout" class="black-text">Logout</a></li>
                            <li><a href="/about" class="black-text">About</a></li>
                            {{/if}}
                            {{#unless user}}
                            <li><a href="#modal1" data-dismiss="modal" class="black-text modal-trigger">Login</a></li>
                            <li><a href="/about" class="black-text">About</a></li>
                            {{/unless}}

                        </ul>
                    </div>
                </div>
                <!-- Modal Structure -->
                <div id="modal1" class="modal black-text signup-form">
                    <h2>Login</h2>

                    <div class="input-field col s12">
                        <input placeholder="Username" id="username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                    <div class="col s12">
                        <button class="modal-close btn waves-effect waves-light red" type="submit" id="login" name="action">Login</button>
                    </div>
                    <div class="col s12 login-help">
                        <a href="/register" class="red-text modal-trigger">No account? Register here.</a>
                        {{!-- - <a href="#" class="red-text">Forgot Password</a> --}}
                    </div>
                </div>
            </div>


        </div>
        </div>
    </nav>

    {{{body}}}

    

</body>
<script> M.AutoInit();</script>
<script src="./js/management.js"></script>
<script>

    $(document).ready(function () {




        $("body").on("click", ".edit", function () {
            console.log($(this).data("id"));
        })
        $("body").on("click", ".delete", function () {
            console.log($(this).data("id"));
        })

        $("#login").on("click", (e) => {
            e.preventDefault();
            $.ajax({
                method: "POST",
                url: "/login",
                data: {
                    email: $("#username").val().trim(),
                    password: $("#password").val().trim(),
                    type: $("#type").val().trim()
                }
            }).then(data => {
                window.location.href = data;
            }).catch(err => {
                alert(err);
            });
        })
    })

</script>

</html>