<div class="signup-form">
    <form action="/preference" method="post">
        <h2>Preferences</h2>

        <div class="form-group input-field">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" name="firstName" placeholder="Name" required="required">

        </div>
        <div class="form-group input-field">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" name="lastName" placeholder="Last Name" required="required">
        </div>
        <div class="form-group input-field">
            <select class="form-control" id="size" name="size">
                <option value="" disabled selected>Choose your option</option>
                <option>XS</option>
                <option>S</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
            </select>
            <label for="size">Size:</label>
        </div>

        <div class="form-group input-field">
            <select class="form-control" id="height" name="height">
                <option value="" disabled selected>Choose your option</option>
                <option>short</option>
                <option>normal</option>
                <option>tall</option>
                <option>very tall</option>
            </select>
            <label for="height">Height:</label>
        </div>

        <div class="form-group input-field">
            <label for="color">Color:</label>
            <input type="text" class="form-control" name="color" placeholder="Color" required="required">
        </div>

        <div class="form-group input-field">
            <select class="form-control" id="occasion" name="occasion">
                <option>casual</option>
                <option>formal</option>
                <option>outdoor</option>
                <option>work out</option>
            </select>
            <label for="occasion">Occasion:</label>

        </div>

        <div class="form-group input-field">
            <select class="form-control" id="hender" name="gender">
                <option>male</option>
                <option>female</option>
            </select>
            <label for="hender">gender:</label>
        </div>

        <div class="col-md-6">
            <label for="minprice">Min Price</label>
            <input type="text" class="form-control" name="minprice" placeholder="min Price" required="required">
        </div>
        <div class="col-md-6">
            <label for="maxprice">Max Price</label>
            <input type="text" class="form-control" name="maxprice" placeholder="max Price" required="required">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block red">Submit</button>
        </div>
    </form>

</div>