<div class="container">
    <div class="col s12">
        <div class="signup-form">
            <form action="/register" method="post">
                <h2>Register</h2>
                <p class="hint-text">Create your account. It's free and only takes a minute.</p>
                <div class="input-field col s12">
                    <input type="text" class="form-control" name="email" placeholder="Email" required="required">
                </div>
                <div class="input-field col s12">
                    <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg btn-block red">Register Now</button>
                </div>
            </form>
            <div class="text-center">Already have an account? <a href="#modal1" class="red-text modal-trigger">Sign in</a></div>
        </div>
    </div>
</div>