* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    letter-spacing:.089px;
    line-height:1.678rem;

}
nav{
    box-shadow: none;
    margin-top:8px;
}
.logo-img {
    max-width: 80px!important;
    padding: 8px 0!important;
}

.itemlink{
    color:black;
}

.box{
    margin-bottom:32px;
}

.box:hover {
    opacity:.3;
  
}

.box img {
    width: 100%;
}

.box_pic {
    grid-area: pic;
}

.box_description {
    grid-area: desc;
}

.box_color {
    grid-area: ccolor;
    font-weight:300;

}

.box_height {
    grid-area: height;
    font-weight:300;

    
}

.box_price {
    grid-area: price;
    font-size:24px;
    font-weight:400;
}

.box_occasion {
    grid-area: occasion;
    font-weight:300;

}

.box_brand {
    grid-area: brand;
}

.box_link {
    width: 100%;
    grid-area: link;
    text-align: center;
}

.header{
    min-height: 128px;
}